/* BODY & SIZING */
body {
	/* Force full screen */
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgb(64,64,64);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
main {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 8px;
	background-color: rgba(255,255,255,.95);
}
@media (min-width: 800px) {
	main {
		max-width: 800px;
	}
}
@media (min-width: 1200px) {
	main {
		max-width: 1200px;
	}
}

/* NAV & WEATHER */
nav {
	border-bottom: 1px solid grey;
	max-width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
nav p, nav a, #weather {
	margin: 0;
	padding: 5px;
	display: inline-block;
	color: rgba(0,0,0,.87);
	text-decoration: none;
	text-align: center;
	vertical-align: baseline;
}
nav a:hover {
	text-decoration: underline;
}
#weather {
	float: right;
}

/* NEWS */
#news div div {
	border: 1px solid lightgrey;
	border-bottom: none;
	padding: 8px;
}
#news div div:last-child {
	border-bottom: 1px solid lightgrey;
}
#news a {
	text-decoration: none;
}
#news h1 {
	margin-left: 8px;
}